<!DOCTYPE html>
<html>
<head>
    <title>Basic Web Page</title>
</head>
<body>
    {{/*{{index . 2}}*/}}
    {{/*{{index . 0}}*/}}
    {{/*{{index . 3}}*/}}

    {{index .Words 3}}
    {{index .Words 2}}
    {{index .Words 1}}
    {{.LName}}
</body>
</html>