<!DOCTYPE html>
<html>
<head>
    <title>Basic Web Page</title>
</head>
<body>
    Without date formatting: {{.}}

    With date formatting: {{fDateMDY .}}

    Pipeline -> With date formatting: {{. | fDateMYD}}
</body>
</html>